@media screen and (max-width : 922px) {
    #sosmed .img-sosmed{
        width: 60px;
    }

    #sosmed .img-sosmed:hover {
        width: 60px;
    }

    #portofolio {
        margin-top: -50px; 
    }

}

@media screen and (max-width : 576px) {

    .navbar-brand{
        font-size: 15px;
    }

    .ask-me{
        font-size: small;
    }

    .ask-me:hover{
        font-size: small;
    }

    #sosmed .img-sosmed{
        width: 30px;
        height: auto;
    }

    #sosmed .img-sosmed:hover {
        width: 30px;
        height: auto;
    }

    #portofolio {
        margin-top: -120px;
    }

    #profil h1{
        font-size: 30px;
    }

    #profil p{
        font-size: 10px;
    }

    #portofolio .pr-text h1{
        font-size: 30px;
    }

    .desc-text{
        font-size: 12px;
    }

    .project-name{
        font-size: 18px;
    }

    #portofolio p{
        font-size: 10px;
    }

    #sosmed .text{
        font-size: 10px;
    }

    #sosmed .img-fluid{
        width: fit-content;
        height: auto;
    }

    #sosmed .container {
        padding-bottom: 50px;
    }

    #contact .pr-text{
        font-size: 30px;
    }

    #contact .form{
        max-width: 300px;
    }

    input[type=text], textarea {
        width: 300px;
    }

    input[type=email] {
        width: 300px;
    }

    #profil .img-fluid{
        width: 200px; 
        align-items: center;
    }

    footer .container-fluid {
        font-size: 13px;
    }

}

@media screen and (max-width : 350px) {
    #sosmed .img-sosmed{
        width: 20px;
    }

    #sosmed .img-sosmed:hover {
        width: 20px;
    }

    #contact .form{
        max-width: 300px;
    }

    #sosmed .tagline-sosmed{
        font-size : 15px
    }

    input[type=text], textarea {
        width: 250px;
    }

    input[type=email] {
        width: 250px;
    }

    footer .container-fluid {
        font-size: 10px;
    }

}